@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;

.drag_and_drop_files {
  .dnd-dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: $wbu-margin;
    background-color: rgba($wbu-color-primary, 25%);
    border-radius: 1rem;
  }

  .dnd-dropzone.dragover {
    border-color: $wbu-color-primary;
  }

  .form-item-dragdnd {
    display: none;
  }
  .dnd-file-input {
    display: none;
  }
}
.dnd-previews {
  .container_image {
    position: relative;
    display: flex;
    padding: $wbu-margin * 0.5;
    background-color: rgba($wbu-color-primary, 10%);
    border: 1px solid #efefef;
    border-radius: $wbu-margin * 0.5;
    .content_text {
      display: flex;
      flex: 1 1 auto;
      flex-wrap: wrap;
      line-height: 1;
      flex-direction: column;
      justify-content: center;
      max-width: calc(100% - 83px);
      .imge_title {
        margin-bottom: 0.7rem;
        font-size: 95%;
        width: calc(100% - 40px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .content_bg {
      background-color: #cccdce;
      border: 1px solid #dddbdb;
      border-radius: $wbu-margin * 0.5;
      height: 70px;
      width: 70px;
      background-size: cover;
      margin-right: $wbu-margin * 0.35;
    }
    .progressbar {
      width: calc(100% - 40px);
      height: 7px;
      background: #ccc;
      border-radius: 3px;
      position: relative;
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 0;
        background: $wbu-color-primary;
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        @include WBUtransition($temps: 2s);
      }
      &.complete {
        &::before {
          width: 100%;
        }
      }
    }
    .svg {
      position: absolute;
      left: auto;
      top: 57%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      @include WBUtransition();
    }
    &.complete {
      .svg.icone_complete {
        visibility: visible;
        opacity: 1;
      }
    }
    &:hover {
      .svg.icone_complete {
        visibility: hidden;
        opacity: 0;
        transition-duration: 0.1s;
      }
      .svg.icone_remove {
        visibility: visible;
        opacity: 1;
        fill: #f00;
      }
    }
    + .container_image {
      margin-top: 10px;
    }
  }
  &.files-document {
    .content_bg {
      padding: 2rem;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
    }
  }
}
